{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>

<h2 style="text-align: center; text-transform:capitalize;">Course Name: {{course.course_name}}</h2>
<br>
<div class="jumbotron my-4">

  <form class="form" autocomplete="off" onsubmit="return saveAns()"  action="{% url 'runcode' %}" method="POST">
    {% csrf_token %}

    {% for q in questions %}
        <input value="{{course.id}}" name="course_id" hidden>
        <h3 class="text-dark">{{ forloop.counter }}. {{q.question}}</h3><h4 style="text-align: right;">[{{q.marks}} Marks]</h4>

        <input type="hidden" name="csrfmiddlewaretoken" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa">

        <textarea class="form-control" name="codearea" style="min-height:400px;">{{code}}</textarea>
        {% endfor %}
    <br>
        <input class="btn btn-success btn-lg" style="border-radius: 0%;"  type="submit" value="Run Code">
    </form>

    {% if output %}
        <h3 class="p-3">Code Output:</h3>
        <form class="form text-center" autocomplete="off" action="{% url 'save' %}" method="POST">
            <textarea readonly  class="form-control p-3" style="min-height:200px;">{{output}}</textarea>
            <textarea readonly hidden name="output" class="form-control p-3" style="min-height:200px;">{{output}}</textarea>
            <input hidden value="{{ course.id }}"  name="course_id" />
            <input type="submit" value="Save Output" class="btn btn-success">
        </form>


    {% endif %}
  </div>
{% endblock content %}